.featured-container{
display: flex;
justify-content: center;
align-items: center;
gap: var(--size-lg);
flex-wrap: wrap;
padding: var(--size-lg);
}
.featuredcard{
  /* height: 140px; */
  width: 200px;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.featuredcard img{
  width: 100%;
  height:100% ;
}
ion-icon{
  z-index: 3;
  cursor: pointer;
   color: #aebfc6ac;
  font-size: var(--size-4xl);
}

@media (min-width:540px) {
  .featuredcard img{
    height: 90%;
    width: 90%;
  }
}
