.featured-container{
display: flex;
justify-content: center;
align-items: center;
gap: var(--size-lg);
flex-wrap: wrap;
padding: var(--size-lg);
}
.featuredcard{
  /* height: 340px; */
  width: 200px;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  position: relative;
}

ion-icon{
  z-index: 3;
  cursor: pointer;
   color: #aebfc6ac;
  font-size: var(--size-4xl);
}

