.card{
    /* height: 230px; */
    width: 140px;
    /* border: 1px solid red; */
    background-color:var(--clr-light);
    color: var(--clr-dark);
    font-size: var(--size-sm);
    border-radius: 5px;

}

img{
    border-radius: 5px;
    width: 100%;
}

.movie-title{
    font-weight: 500;
}

@media (max-width:540px) {
    .card{
       min-width: 140px;
       font-size:var(--size-xs) ;
    }
}